<% include ./Layouts/header %>
<div class="container-fluid">
  <ul class="nav justify-content-end nav-pills mt-2">
    <li class="nav-item"><a class="nav-link active" href="/">Search</a></li>
  </ul>

  <h1>No Results</h1>

  <% include ./Layouts/footer %>
</div>
